In [2]:
#codigo pacheco 6to tel
import pandas as pd

In [3]:
pd.read_csv("top_100_anime_movie.csv")

,rank,title,rating,votes,year,minutes,genre,gross
0,1,Ramayana: The Legend of Prince Rama,9.2,"7,549",1993,97.0,"Animation, Action, Adventure",NaN
1,2,Spirited Away,8.6,"756,112",2001,125.0,"Animation, Adventure, Family",$10.06M
2,3,Meiji Tokyo Renka Movie: Yumihari no Serenade,8.5,39,2015,60.0,"Animation, Fantasy, Romance",NaN
3,4,"Natsu e no tunnel, Sayonara no deguchi",8.5,23,2022,83.0,Animation,NaN
4,5,Attack on Titan: Chronicle,8.5,"10,421",2020,122.0,"Animation, Action, Adventure",NaN
...,...,...,...,...,...,...,...,...
95,96,Mobile Suit Gundam: The Origin IV - Eve of Des...,7.7,462,2016,85.0,"Animation, Action, Drama",NaN
96,97,Dou Kyu Sei: Classmates,7.7,"2,742",2016,60.0,"Animation, Drama, Music",NaN
97,98,The Shimajiro Movie: Shimajiro in Bookland,7.7,25,2016,61.0,"Animation, Family",NaN
98,99,In This Corner,7.7,"11,242",2016,129.0,"Animation, Drama, Family",NaN
99,100,Asatte Dansu,7.7,10,1991,45.0,"Animation, Comedy, Romance",NaN

In [8]:
pd.read_csv("top_100_anime_movie.csv", index_col = 0) 
#indexo con la columna del ranking y no con la generada automaticamente

,title,rating,votes,year,minutes,genre,gross
rank,,,,,,,
1,Ramayana: The Legend of Prince Rama,9.2,"7,549",1993,97.0,"Animation, Action, Adventure",NaN
2,Spirited Away,8.6,"756,112",2001,125.0,"Animation, Adventure, Family",$10.06M
3,Meiji Tokyo Renka Movie: Yumihari no Serenade,8.5,39,2015,60.0,"Animation, Fantasy, Romance",NaN
4,"Natsu e no tunnel, Sayonara no deguchi",8.5,23,2022,83.0,Animation,NaN
5,Attack on Titan: Chronicle,8.5,"10,421",2020,122.0,"Animation, Action, Adventure",NaN
...,...,...,...,...,...,...,...
96,Mobile Suit Gundam: The Origin IV - Eve of Des...,7.7,462,2016,85.0,"Animation, Action, Drama",NaN
97,Dou Kyu Sei: Classmates,7.7,"2,742",2016,60.0,"Animation, Drama, Music",NaN
98,The Shimajiro Movie: Shimajiro in Bookland,7.7,25,2016,61.0,"Animation, Family",NaN
99,In This Corner,7.7,"11,242",2016,129.0,"Animation, Drama, Family",NaN
100,Asatte Dansu,7.7,10,1991,45.0,"Animation, Comedy, Romance",NaN

In [9]:
pd.read_csv("top_100_anime_movie.csv", index_col = 0, usecols = ["rank", "title", "rating"]) 
#indexo con la columna del ranking y selecciono para ver solo las columnas del ranking, del titulo y de la puntuacion

                                                  title  rating
rank
1                   Ramayana: The Legend of Prince Rama     9.2
2                                         Spirited Away     8.6
3         Meiji Tokyo Renka Movie: Yumihari no Serenade     8.5
4                Natsu e no tunnel, Sayonara no deguchi     8.5
5                            Attack on Titan: Chronicle     8.5
...                                                 ...     ...
96    Mobile Suit Gundam: The Origin IV - Eve of Des...     7.7
97                              Dou Kyu Sei: Classmates     7.7
98           The Shimajiro Movie: Shimajiro in Bookland     7.7
99                                       In This Corner     7.7
100                                        Asatte Dansu     7.7

[100 rows x 2 columns]

In [10]:
top100 = pd.read_csv("top_100_anime_movie.csv", index_col = 0, usecols = ["rank", "title", "rating"])
#guardo la tabla de arriba en la variable top100
top100

                                                  title  rating
rank
1                   Ramayana: The Legend of Prince Rama     9.2
2                                         Spirited Away     8.6
3         Meiji Tokyo Renka Movie: Yumihari no Serenade     8.5
4                Natsu e no tunnel, Sayonara no deguchi     8.5
5                            Attack on Titan: Chronicle     8.5
...                                                 ...     ...
96    Mobile Suit Gundam: The Origin IV - Eve of Des...     7.7
97                              Dou Kyu Sei: Classmates     7.7
98           The Shimajiro Movie: Shimajiro in Bookland     7.7
99                                       In This Corner     7.7
100                                        Asatte Dansu     7.7

[100 rows x 2 columns]

In [13]:
top100.to_csv("aMovie_rank_title_rating.csv", index = False)
#exporto la tabla top100 (sin el indice generado automaticamente)
#se puede cambiar el formato escribiendo to_excel por ejemplo

In [23]:
TOP = pd.read_csv("top_100_anime_movie.csv", index_col = 0) 
TOP[["rating"]] #selecciono solo la columna del puntaje

      rating
rank
1        9.2
2        8.6
3        8.5
4        8.5
5        8.5
...      ...
96       7.7
97       7.7
98       7.7
99       7.7
100      7.7

[100 rows x 1 columns]

In [24]:
TOP[["rating"]].mean() #muestro el promedio de los puntajes

rating    8.001
dtype: float64

In [33]:
TOP[["year"]] #ahora selecciono solo la columna del aÃ±o de estreno

      year
rank
1     1993
2     2001
3     2015
4     2022
5     2020
...    ...
96    2016
97    2016
98    2016
99    2016
100   1991

[100 rows x 1 columns]

In [31]:
TOP[["year"]].max() #muestro de que aÃ±o es la pelicula mas nueva del top

year    2022
dtype: int64

In [32]:
TOP[["year"]].min() #muestro de que aÃ±o es la pelicula mas vieja del top

year    1979
dtype: int64